<link href="https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap" rel="stylesheet">

<!-- Nav Begin -->
<%= render "layouts/landing_page_nav" %>

<!-- Nav End -->


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/1396132/pexels-photo-1396132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
          <!-- Text overlaying image -->
          <!-- <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">First Slide</h2>
            <p class="lead">This is a description for the first slide.</p>
          </div> -->
          <!-- Text overlaying image -->
        </div>
        <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/3100371/pexels-photo-3100371.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        </div>
        <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/3225640/pexels-photo-3225640.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        </div>

      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <div class="container">
    <h1 class="coverOverlayText">Property Buddy </h1>
  </div>

  <p class="bottomCoverOverlayText halfOpacity">Press Anywhere to Continue</p>


  <!-- CSS CURTAIN BEGIN-->
  <!-- CSS CURTAIN BEGIN-->
  <!-- CSS CURTAIN BEGIN-->
  <!-- CSS CURTAIN BEGIN-->

  <!-- The overlay -->
  <div id="myNav" class="overlay">

   <!-- Button to close the overlay navigation -->
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

   <!-- Overlay content -->
   <div class="overlay-content">
     <a href="#">About</a>
     <a href="#">Services</a>
     <a href="#">Clients</a>
     <a href="#">Contact</a>
   </div>

  </div>

  <!-- Use any element to open/show the overlay navigation menu -->
  <span onclick="openNav()">open</span>


  <!-- CSS CURTAIN END-->
  <!-- CSS CURTAIN END-->
  <!-- CSS CURTAIN END-->
  <!-- CSS CURTAIN END-->
  <!-- CSS CURTAIN END-->
