<% projectable.projects.reverse.each do |project| %>

<div class="card p-2">

  <%#= link_to "#{project.title}", project %>
  <span>
    <%= project.title %>
    <%= project.status %> <%= link_to "View", project, class:"float-right" %>

  </span>

</div>

  <br>

<% end %>
